body {
    display:flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*All styling features for the header*/

header {
    display: flex;
    flex-direction: row;
    width:100%;
    background-color: #1f2937;
    padding: 16px;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    left:-10px;
    top:-10px;
    border: none;
    z-index: 1;
}

.headerlogo {
    font-size: 24px;
    color: #e5e7eb;
    font-weight: 900;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 20px;
}

a {
    color: #e5e7eb;
    text-decoration: none;
    font-size: 18px;
}

/*All styling elements for Mainheader*/


.mainheader {
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
    background-color: #1f2937;
    padding: 25px;
    position: absolute;
    top:-10px;
    left:-0.4px;
  
    
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*flex:1;*/
}

.h1text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.h2text {
    font-size: 18px;
    color: #e5e7eb;
}

.signup {
    width: 20%;
    padding: 10px;
    background-color: #3882f6;
    font-size: large;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
}


.cycles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width:400px;
    max-height:400px;
    transform: rotate(-90deg);
    flex:1;
    border-radius: 25px;
}


/*All styling elements for "some information"*/

.divsomeinfo {
    display:flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    flex-direction: column;
    top: 535px;
    left:-10px;
    width:100%;
    height:350px;
}

.h1someinfo {
    display:flex;
    margin-bottom: 40px;
    text-decoration: underline;
    
}

.someinfoimages {
    display: flex; 
    column-gap: 50px;
    justify-content: space-evenly;  
}

.sinimages {
    display: flex;
    max-width: 200px;
    max-height: 200px;
    flex:1;
    border: 3px solid #3882f6;
    border-radius: 25px;
    
}

.imfogtext {
    display: flex;
    margin-top: 10px;
    text-align: center;
    font-style: italic;
    font-weight: 600;
    overflow-wrap: break-word;
    border: 3px soild black;
    width:200px;
    flex:1;
    
}

/* Styling element for "Comment"*/
.comment {
    display: flex;
    color: #1f2937;
    position: absolute;
    top:1000px;
    width: 100%;
    height: 350px;
    background-color: #e5e7eb;
    left: -0.4px;
    justify-content: center;
    align-items: center;
    overflow-wrap: break-word ;
}

.comtext {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-wrap: normal;
    font-size:36px;
    flex-direction: column;
    width: 800px;
    font-style: italic;
    position: relative;
    left:100px;
}


.comthor {
    display: flex;
    position: relative;
    top: 100px;
    left:-150px;
    font-size: 20px;
    font-weight: bold;
}


/* Styling elements for "Call to action"*/

.calltoaction {
    display: flex;
    position: absolute;
    top: 1350px;
    left:-0.4px;
    width:100%;
    height: 350px;
    justify-content: center;
    align-items: center;
}

.ctabox {
    display: flex;
    width: 1000px;
    height:150px;
    background-color: #3882f6;
    justify-content: space-evenly;
    align-items:center ;
    overflow: auto;
    padding: 10px;
    border-radius: 15px;
}

.ctabutton {
    display: flex;
    width: 150px;
    height:40px;
    justify-content: center;
    align-items: center;
    color: #f9faf8;
    border-color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
}

.h1cta {
    text-align: start;
    color: #e5e7eb;
}

.h1ctatext {
    font-size: 24px;
    font-weight: 800;
}


/*Footer*/

.footer1{
    display:flex;
    position: absolute;
    top: 1700px;
    left:-0.4px;
    border: 5px soild black;
    width:100%;
    height:100px;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #e5e7eb;
}